@{
    ViewData["Title"] = "Administración";
}

<h1 class="fs-4 mb-3">Administración general</h1>

<div class="">
    <div class="row gx-4">
        <div class="col">
            <div class="mb-3"><a style="text-decoration:none" class="" asp-controller="Locations" asp-action="Index">Administración de localidades</a></div>
            <div class="mb-3"><a style="text-decoration:none" class="" asp-controller="Areas" asp-action="Index">Administración de áreas</a></div>
            <div class="mb-3"><a style="text-decoration:none" class="" asp-controller="DeviceTypes" asp-action="Index">Administración de tipos de equipos</a></div>
            <div class="mb-3"><a style="text-decoration:none" class="" asp-controller="PPEs" asp-action="Index">Administración de EPP</a></div>
            <div class="mb-3"><a style="text-decoration:none" class="" asp-controller="Risks" asp-action="Index">Administración de riesgos de seguridad</a></div>
            <div class="mb-3"><a style="text-decoration:none" class="" asp-controller="Devices" asp-action="Index">Administración de equipos</a></div>
        </div>
        <div class="col">
            <div class="mb-3"><a style="text-decoration:none" class="" asp-controller="UserRoles" asp-action="Index">Administración de usuarios</a></div>
        </div>
    </div>
</div>