@{
    ViewData["Title"] = "Inicio";
}

<style>
    #steps__icon {
        width: 50px;
        height:50px;
    }

    #main__title h1, h2{
        color: orange;
        font-weight: 500;
    }

    span {
        color: var(--var-color-main-font);
    }

    main{
        display: flex;
        align-items: center;
    }

    #main__container{
        line-height: 1.25;
    }

    #card__step {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        width: 430px;
    }

    #card__step:hover{
        transform: translateY(-5px);
    }

    #card__step h2{
            color: var(--var-color-main-font);
            font-weight: 500;
    }

    #card__step p{
        color: var(--var-color-text);
        height: 80px;
    }
</style>

<div id="main__container" class="w-100 mt-2 d-flex flex-column gap-5">
    <div id="main__title" class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-6 text-nowrap">Bienvenido a Safetool</h1>
        <h2 class="fs-4 text-nowrap">Sistema de consulta de análisis de riesgo</h2>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center fs-5">
        <div style="color: var(--var-color-main-font)" class="d-flex justify-content-center align-items-center mb-5">
            <p class="text-center">
                La consulta de esta información es para dar cumplimiento a la NOM-004-STPS Sistema de Protección y Dispositivos de seguridad en las maquinarias y equipos que se utilicen en el centro de trabajo.
            </p>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center gap-4">
            <div id="card__step" class="d-flex flex-column gap-2 justify-content-center align-items-center bg-white p-5 rounded-3 shadow-lg">
                <img id="steps__icon" class='img-fluid align-self-center' src='~/images/icons/search.png' />
                <h2 class="fs-4">Busca</h2>
                <p class="fs-6 text-center">En la sección de Equipos, selecciona tu localidad y área de interés para identificar la maquinaria o herramienta a utilizar</p>
            </div>
            <div id="card__step" class="d-flex flex-column gap-2 justify-content-center align-items-center bg-white p-5 rounded-3 shadow-lg">
                <img id="steps__icon" class='img-fluid align-self-center' src='~/images/icons/file-lines-regular.png' style="width:40px;"/>
                <h2 class="fs-4">Consulta</h2>
                <p class="fs-6 text-center">Haz clic en el equipo que te interese y consulta su análisis de riesgo correspondiente</p>
            </div>
            <div id="card__step" class="d-flex flex-column gap-2 justify-content-center align-items-center bg-white p-5 rounded-3 shadow-lg">
                <img id="steps__icon" class='img-fluid align-self-center' src='~/images/icons/check-mark.png' />
                <h2 class="fs-4">Registra</h2>
                <p class="fs-6 text-center">Al final de la página de Detalles, registra que has leído el análisis de riesgo del equipo</p>
            </div>
        </div>
    </div>

    <div id="button__content" class="d-flex justify-content-center align-items-center">
        <a id="button__link" class="btn btn-custom d-flex justify-content-center align-items-center gap-1" asp-controller="Devices" asp-action="Index">
            Ir al listado
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg>
        </a>
    </div>
</div>
