:root {
    --var-color-main: #ffa500;
    --var-color-main-font: #737373;
    --var-color-text: #969696;
    --var-color-second: #f4cf9b;
    --var-color-hover: #EB9800;
}

@font-face {
    font-family: "ContinentalStagSans";
    src: url('../fonts/Continental Stag Sans-Book Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "ContinentalStagSans";
    src: url('../fonts/Continental Stag Sans-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "ContinentalStagSans";
    src: url('../fonts/Continental Stag Sans-Light Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "ContinentalStagSans";
    src: url('../fonts/Continental Stag Sans-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "ContinentalStagSans";
    src: url('../fonts/Continental Stag Sans-Medium Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "ContinentalStagSans";
    src: url('../fonts/Continental Stag Sans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}


html {
    height: 100%;
    position: relative;
    min-height: 100%;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'ContinentalStagSans', sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(45deg, #fffbf46b 0%, #fff8ee4f 100%);
}

header {
    flex-shrink: 0;
    height: 96px;
}

main {
    flex-grow: 1;
    padding: 2rem;
    height: calc(100vh - 96px); /* Ajustar el espacio del main restando el tamaño del header */
    overflow: hidden; /* Elimina el scroll si no es necesario */
}

@media (min-width: 1200px) {
    .main__section {
        padding: 2rem 15rem;
    }
}

.form-select{
    color: var(--var-color-main-font);
}
    .form-select:focus {
        box-shadow: 0 0 0 0.25rem var(--var-color-main);
        border: none;
    }

.form-control {
    color: var(--var-color-main-font);
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem var(--var-color-main);
    border: none;
}

.btn-custom {
    background-color: white;
    border: 2px solid var(--var-color-main);
    width: auto;
    height: auto;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: var(--var-color-main);
    color: white;
}

.btn:active, .btn:active:focus, .btn:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--var-color-main);
}

.form-check-input:checked, .form-check-input:focus {
    background-color: var(--var-color-main);
    border: none;
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--var-color-main);
}

h1{
    color: var(--var-color-main-font);
    font-family: ContinentalStagSans, Arial;
    font-style:normal;
    font-weight:400;
}

td {
    color: var(--var-color-main-font)
}